{% extends 'base.html.twig' %}

{% block title %}Ihre Bestellungen{% endblock %}

{% block body %}
{% set summe = 0 %}

	<br>
	<div class="container">
		<h2>Ihre Bestellungen</h2>
		<br>

		<table class="table table-striped">
			<thead>
				<tr>
					<td>Bestell Nr.</td>
					<td>Name</td>
					<td>Preis</td>
					<td>Status</td>
					<td></td>
				</tr>
			</thead>

			<tbody>
				{% for order in orders %}
					{% set summe = summe + order.price %}
					<tr>
						<td>{{order.orderNumber}}</td>
						<td>{{order.name}}</td>
						<td>{{order.price}}</td>
						{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
							<td>{{order.status}}</td>
						{% endif %}
						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
							<td>
								<div class="dropdown show">
									<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										{{order.status}}
									</a>
									<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
										<a class="dropdown-item" href="{{ path('status',{id: order.id, status: 'offen'}) }}">offen</a>
										<a class="dropdown-item" href="{{ path('status',{id: order.id, status: 'fertig'}) }}">fertig</a>
										<a class="dropdown-item" href="{{ path('status',{id: order.id, status: 'archiv'}) }}">archiv</a>
									</div>
								</div>
							</td>
						{% endif %}
						<td>
							{% if order.status == "offen" %}
                <a class="btn btn-outline-danger btn-sm" href={{ path('delete',{id: order.id } )}} role="button">Entfernen</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
				<td></td>
				<td></td>
				<td>{{summe}}
					EUR</td>
				<td></td>
				<td></td>
			</tbody>
		</table>
	</div>
{% endblock %}
